/*-- ------------------------------------- section-1 ------------------------------------ */

#section1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 707px;
}

#section1::before {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     z-index: -1;
     opacity: 0.9;
     height: 100%;
     width: 100%;
     background: url("./images/video-bg.png") no-repeat center center/cover;
}
.section1 h1{
     color: white;
     font-size: 5em;
     position: absolute;
     top: 55%;
     left: 6%;
}
.section1 h2{
     color: white;
     font-size: 5em;
     position: absolute;
     top: 67%;
     left: 6%;
}

/*-- ------------------------------------- section-1 ------------------------------------ */

/*-- ------------------------------------- section-2 ------------------------------------ */
#section2{
     width: 90%;
     display: block;
     text-align: left;
     margin: 0 auto;
}
#section2 h1{
     width: 73%;
     color: white;
     font-family: 'Raleway', sans-serif;
     font-size: 1.6rem;
     font-weight: 400;

}
.section3{
     margin: 2em 0;
}
.section3 h5{
     margin-bottom: 28px;
     font-size: 1.3em;
     color: white;
}
.section3child1 h2{
     margin: 10px 0;
     color: white;
}
.section3child1 p{
     color: rgb(198, 198, 198);
     margin-bottom: 19px;
}
.section3child1 a{
     color: white;
}

/*-- ------------------------------------- section-2 ------------------------------------ */

/*-- ------------------------------------- section-3 ------------------------------------ */



/*-- ------------------------------------- section-3 ------------------------------------ */

/* ------------------------------------------FOOTER------------------------------------------ */


#footer {
     display: block;
     margin: 2em auto 4em auto;
     width: 87%;
}

.footer {
     display: flex;
     justify-content: space-between;
}

.footerchild1 h1,
p {
     color: white;
}

.footerchild2 {
     display: flex;
}

.footerchild2 li a {
     display: flex;
     color: white;
     padding: 10px 15px 0 15px;
     font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
}



/* ------------------------------------------FOOTER------------------------------------------ */