/* ------------------------------------------Section-1------------------------------------------ */
#section1 {
     padding-top: 14em;
     display: block;
     width: 80%;
     margin: 0 auto;
}

#section1 img {
     width: 300px;
     margin: 0 auto;
     display: block;
}

#section1 p {
     text-align: center;
     width: 72%;
     margin: 0 auto;
     font-size: 1.3rem;
     color: rgb(186, 184, 184);
}

#section1 .button {
     margin-top: 8em;
     display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
     background-color: aqua;
     font-size: 1rem;
     color: black;
     padding: 14px 24px;
     border-radius: 30px;
     border: none;
}

.btn2 {
     margin: 0 20px;
     font-size: 1rem;
     padding: 14px 24px;
     color: white;
     background-color: #404040;
     border-radius: 30px;
     border: none;
}

.btn3 {
     font-size: 1rem;
     padding: 14px 24px;
     color: white;
     background-color: #404040;
     border-radius: 30px;
     border: none;
}

/* ------------------------------------------Section-1------------------------------------------ */


/* ------------------------------------------FOOTER------------------------------------------ */


#footer {
     display: block;
     margin: 2em auto 4em auto;
     width: 87%;
}

.footer {
     display: flex;
     justify-content: space-between;
}

.footerchild1 h1,
p {
     color: white;
}

.footerchild2 {
     display: flex;
}

.footerchild2 li a {
     display: flex;
     color: white;
     padding: 10px 15px 0 15px;
     font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
}



/* ------------------------------------------FOOTER------------------------------------------ */