/* ------------------------------------------Section-1------------------------------------------ */
#section1 {
     padding-top: 14em;
     display: block;
     width: 80%;
     margin: 0 auto;
}

#section1 img {
     width: 300px;
     margin: 20px auto;
     display: block;
}

#section1 p {
     line-height: 1.5;
     text-align: center;
     width: 72%;
     margin: 0 auto;
     font-size: 1.3rem;
     color: rgb(186, 184, 184);
}

#section1 .button {
     margin-top: 8em;
     display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
     background-color: aqua;
     font-size: 1rem;
     color: black;
     padding: 14px 24px;
     border-radius: 30px;
     border: none;
}

.btn2 {
     margin: 0 20px;
     font-size: 1rem;
     padding: 14px 24px;
     color: white;
     background-color: #404040;
     border-radius: 30px;
     border: none;
}

.btn3 {
     font-size: 1rem;
     padding: 14px 24px;
     color: white;
     background-color: #404040;
     border-radius: 30px;
     border: none;
}

/* ------------------------------------------Section-1------------------------------------------ */


/* ------------------------------------------SECTION-10-form------------------------------------------ */

#section3 {
     margin: 1rem auto 4em auto;
     display: block;
     width: 87%;
}

.section3 {
     padding: 8em 2em 2em 12em;
     border-radius: 20px;
     background-color: #0f0f0f;
}

.section3 form {
     display: grid;
     grid-template-columns: 320px 600px;
}

.section3 h1 {
     line-height: 1.3;
     font-size: 2.6rem;
     color: white;
     font-family: 'Raleway', sans-serif;
}

.section3 p {
     margin-top: 10px;
     margin-bottom: 30px;
     width: 66%;
     font-family: 'Raleway', sans-serif;
     color: rgb(192, 192, 192);
}

#name,
#email,
#number {
     font-size: 1.1rem;
     padding: 17px 38px;
     color: rgb(255, 255, 255);
     background-color: #1a1a1a;
     border-radius: 25px;
     border: none;
     margin: 12px 0;
}

#textarea {
     width: 90%;
     height: 95%;
     font-size: 1.1rem;
     border-radius: 30px;
     color: rgb(255, 255, 255);
     border: none;
     background-color: #1a1a1a;
}

.formbtn {
     width: 80%;
     margin-left: 37em;
     margin-bottom: 2em;
     margin-top: 19px;
     display: flex;
     justify-content: center;
     font-size: 1rem;
     font-weight: 600;
     padding: 15px 10px;
     background-color: #818181;
     border-radius: 30px;
     text-align: center;
     align-items: center;
}


/* ------------------------------------------SECTION-10-form------------------------------------------ */


/* ------------------------------------------FOOTER------------------------------------------ */


#footer {
     display: block;
     margin: 2em auto 4em auto;
     width: 87%;
}

.footer {
     display: flex;
     justify-content: space-between;
}

.footerchild1 h1,
p {
     color: white;
}

.footerchild2 {
     display: flex;
}

.footerchild2 li a {
     display: flex;
     color: white;
     padding: 10px 15px 0 15px;
     font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
}



/* ------------------------------------------FOOTER------------------------------------------ */



/* ****************************************** media query*******************************************/


@media (max-width: 1250px) {
      #section10 {
          margin: 1rem auto 4em auto;
          width: 92%;
     }

     .section10 {
          padding: 8em 2em 2em 8em;
     }
}

@media(max-width: 1100px) {
     .section10 {
          padding: 5em 2em 2em 2em;
     }

     .section10 form {
          display: grid;
          grid-template-columns: 320px 500px;
     }

     .formbtn {
          width: 80%;
          margin-left: 31em;
     }
}
@media(max-width: 900px) {
     .section10 form {
          display: grid;
          grid-template-columns: 300px 500px;
     }

     #name,
     #email,
     #number {
          font-size: 1.1rem;
          padding: 17px 33px;
          margin: 12px 0;
     }

     #textarea {
          width: 75%;
          height: 95%;
          font-size: 1.1rem;
     }

     .formbtn {
          width: 80%;
          margin-left: 27em;
     }
}

@media(max-width: 830px) {
    

     #name,
     #email,
     #number {
          font-size: 1.1rem;
          padding: 17px 270px 17px 17px;
          margin: 12px 0;
     }

     #textarea {
          padding: 17px 350px 17px 17px;
          width: 500px;
          height: 200px;
          font-size: 1.1rem;
     }

     .section10 form {
          display: grid;
          grid-template-columns: 300px;
     }

     .formbtn {
          width: 80%;
          margin-left: 16em;
     }
}