* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
     background-color: #000000;
}

li {
     list-style: none;
}

a {
     text-decoration: none;
}

#navbar {
     padding: 1.3rem 5rem 1rem 6rem;
     background-color: #070707;
     position: fixed;
     margin: 0 auto;
     width: 100%;
     display: flex;
     justify-content: space-between;
}


.logo a {
     /* margin-left: 3rem; */
     font-family: 'Roboto', sans-serif;
     color: white;
     font-weight: 900;
     font-size: 1.7rem;
}

.nav {
     padding-top: 10px;
     display: flex;
}

.nav1 ul {
     margin-left: 3rem;
     padding-top: 6px;
     display: flex;
}

.nav1 ul li a {
     font-size: 15px;
     color: white;
     padding: 0 14px;
}

.nav2 ul {
     display: flex;
}

.nav2 ul li a {
     color: white;
     padding: 0 15px;
     font-size: 1.4rem;
}
.fa-bars {
     color: white;
     padding-top: 10px;
     font-size: 2rem;
     display: none;
     opacity: 0;
}



/* *********************************************media query********************************************* */

@media(max-width: 830px) {
     #navbar {
          width: 100%;
          padding: 1.3rem 2rem 1rem 2rem;
     }

     .fa-bars {
          position: absolute;
          right: 2rem;
          top: 12px;
          display: flex;
     }

     .nav {
          height: 100%;
          display: none;
          width: 100%;
     }

     .nav.active {
          position: absolute;
          left: 0;
          display: block;
     }

     .nav li a {
          display: block;
          padding: 1rem;
     }

     .nav {
          background-color: #0b0b0b;
     }

     .nav ul {
          background-color: #0b0b0b;
          display: block;
          width: 280px;
          height: 100%;
     }

     .nav ul li {
          padding: 1em;
     }

     .nav1 ul {
          padding-bottom: 20em;
          margin-top: 3em;
          margin-left: -0.9em;
     }

     .nav1 ul li a {
          font-size: 1.3rem;
          text-align: left;
     }

     .nav2 ul {
          width: 265.5px;
          display: flex;
     }

     .nav2 ul li a {
          font-size: 1.5rem;
          padding: 0px;
     }
}

@media (max-width:750px){
     #navbar {
          padding: 1.3rem 0rem 1rem 0rem;
     }
     .logo a {
          margin-left: 3rem;
          font-family: 'Roboto', sans-serif;
          color: white;
          font-weight: 900;
          font-size: 1.7rem;
     }
}