@media(max-width: 830px) {
     #navbar{
          width: 100%;
     }
     .fa-bars {
          display: flex;
     }

     .nav {
          height: 100%;
          display: none;
          width: 100%;
     }

     .nav.active {
          position: absolute;
          left: 0;
          display: block;
     }

     .nav li a {
          display: block;
          text-decoration: none;
          color: white;
          padding: 1rem;
     }

     .nav li:hover {
          background-color: #555;
     }

     .nav ul {
          display: block;
          width: 280px;
     }

     .nav ul li {
          padding: 1em;
     }

     .nav1 ul li a {
          text-align: left;
     }

     .nav2 ul {
          display: flex;
     }
}