@media(max-width: 800px){
    
     /* navbar  toggle*/


     .nav li a {
          display: block;
          text-decoration: none;
          color: white;
          padding: 1rem;
     }

     .nav li:hover {
          background-color: #555;
     }

     .fa-bars {
          display: flex;
     }

     .nav {
          height: 100%;
          display: none;
          width: 100%;
     }

     .nav.active {
          display: flex;
     }

     .nav ul {
          display: block;
          width: 280px;
     }

     .nav ul li {
          padding: 1em;
          background-color: #b9b9b9;
          text-align: center;
     }


     /* navbar toggle */
}
