@media(max-width: 830px) {
     #navbar{
          width: 100%;
     }
     .fa-bars {
          position: absolute;
          right: 5rem;
          top: 0px;
          display: flex;
     }

     .nav {
          height: 100%;
          display: none;
          width: 100%;
     }

     .nav.active {
          position: absolute;
          left: 0;
          display: block;
     }
 
     .nav li a {
          display: block;
          padding: 1rem;
     }

     .nav ul {
          display: block;
          width: 280px;
     }

     .nav ul li {
          padding: 1em;
     }
.nav1
     .nav1 ul li a {
          text-align: left;
     }

     .nav2 ul {
          margin-top: 10rem;
          display: flex;
     }
}