*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
li{
     list-style:  none;
}
a{
     text-decoration: none;
}
#navbar{
    display: flex; 
}

.nav1 ul {
display: flex;
}
.nav2 ul {
display: flex;
}
.nav2 ul li a{
     padding: 0 14px;
     font-size: 1.9rem;
}