* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
     background-color: #000000;
}

li {
     list-style: none;
}

a {
     text-decoration: none;
}

#navbar {
     padding: 1rem 5rem 1rem 6rem;
     background-color: #070707;
     position: fixed;
     margin: 0 auto;
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.fa-bars {
     color: white;
     display: none;
     padding-top: 10px;
     font-size: 2rem;
}

.logo a {
     font-family: 'Roboto', sans-serif;
     color: white;
     font-weight: 900;
     font-size: 1.7rem;
}

.nav {
     padding-top: 1rem;
     display: flex;
}

.nav1 ul {
     margin-left: 3rem;
     padding-top: 6px;
     display: flex;
}

.nav1 ul li a {
     color: white;
     padding: 0 14px;
}

.nav2 ul {
     display: flex;
}

.nav2 ul li a {
     color: white;
     padding: 0 14px;
     font-size: 1.5rem;
}


/* ---------------------------------------------navbar--------------------------------------------- */



/* ---------------------------------------------Banner--------------------------------------------- */


#banner {
     position: absolute;
     height: 100%;
     display: block;
     width: 100%;
     background-color: #000000;
     animation-name: banner;
     animation-duration: 9999999999999999999s;
     animation-iteration-count: 1;
}

@keyframes banner {
     0% {
          display: block;
     }

     0.0000000000000001% {
          opacity: 0;
          z-index: -199999;
     }

     100% {
          visibility: hidden;
     }
}

#banner h1 {
     margin-top: 1em;
     color: white;
     font-size: 13em;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     animation-name: bannerheading;
     animation-duration: 8s;
     animation-iteration-count: 1;
}

@keyframes bannerheading {
     0% {
          font-size: 8rem;
     }

     80% {
          opacity: 0;
          z-index: -11;
          font-size: 13rem;
     }
     100% {
          opacity: 0;
          font-size: 13rem;
     }
}

#banner h3 {
     animation-name: bannerheading2;
     animation-duration: 8s;
     animation-iteration-count: 1;
     font-size: 1.5rem;
     position: absolute;
     top: 89%;
     left: 48%;
     color: white;
}
@keyframes bannerheading2 {
     0% {
           
     }

     80% {
          opacity: 0;
          z-index: -11;
     }
     100% {
          opacity: 0;
     }
}

/* ---------------------------------------------Banner--------------------------------------------- */

/* --------------------------------------------SECTION-1-------------------------------------------- */

#section1 {
     padding-top: 6em;
     display: flex;
}

.section1child1 {
     margin-top: 8.7em;
     width: 50%;
     color: white;
}

.section1child1 h1 {
     font-family: 'Raleway', sans-serif;
     color: #929292;
     line-height: 90px;
     width: 75%;
     margin: 0 auto;
     font-size: 2.1em;
}

.section1child1 p {
     font-family: 'Raleway', sans-serif;
     line-height: 50px;
     width: 70%;
     margin: 0 3rem 0 6rem;
     font-size: 2.3em;
}

.section1child2 {
     width: 50%;
}

.button {
     font-size: 1.5rem;
     margin-top: -2.8rem;
}

.button a {
     cursor: pointer;
     color: #ffffff;
     padding: 1rem 11em;
     background-color: #00000066;
     box-shadow: 2px 2px 20px black;
}

.section1child2 img {
     object-fit: cover;
     height: 600px;
     border-radius: 20px;
     width: 100%;
}


/* ---------------------------------------------SECTION-1--------------------------------------------- */


/* ---------------------------------------------SECTION-2--------------------------------------------- */

#section2{
     padding: 6em 0;
     text-align: center;
}
#section2 h1{
     font-family: 'Raleway', sans-serif;
     margin: 0 auto;
     width: 50%;
     color: white;
    font-size: 3.5em;
}

#section2 p{
     font-family: 'Raleway', sans-serif;
     color: rgb(147, 143, 143);
     font-size: 1.2em;
     text-align: center;
}


/* ---------------------------------------------SECTION-2--------------------------------------------- */