* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

li {
     list-style: none;
}

a {
     text-decoration: none;
}

#navbar {
     position: fixed;
     left: 4em;
     margin: 0 auto;
     width: 90%;
     display: flex;
     justify-content: space-between;
}
.logo a{
     font-weight: 900;
     font-size: 2rem;
}

.nav{
     padding-top: 1rem;
     display: flex;
}

.nav1 ul {
     display: flex;
}

.nav1 ul li a {
     padding: 0 14px;
}

.nav2 ul {
     display: flex;
}

.nav2 ul li a {
     padding: 0 14px;
     font-size: 1.7rem;
}